# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

# Environment variables
.env

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/
